# Copyright (c) 2024 [--user-name]
# MIT License

use strict;
use warnings;
use SPVM::Builder::Config;

# my $config = SPVM::Builder::Config->new_gnu99(file => __FILE__);
my $config = SPVM::Builder::Config::Exe->new_gnu99(file => __FILE__);


# Compiler
$config->cc('clang');
$config->thread_ccflags([]);
$config->dynamic_lib_ccflags([]);
$config->add_ccflag('-fobjc-arc');
$config->ext('m');

$config->ld('clang');
$config->add_ldflag('-framework Cocoa -fobjc-arc');

=pod

clang -fobjc-arc -c MacHelloWorldExe.m -o MacHelloWorldExe.o
clang -framework Cocoa -fobjc-arc -o MacHelloWorldExe MacHelloWorldExe.o

=cut

$config;
